## Deliverable 3. Create a Travel Itinerary Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [8]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,11,Crotone,IT,68.90,broken clouds,39.0851,17.1178,Helios Hotel
1,14,Iglesias,IT,68.76,scattered clouds,39.3114,8.5350,"B&B Mare Monti Miniere - Sardinia sud-ovest, t..."
2,19,Jamestown,US,69.19,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,40,Barcelos,PT,66.29,overcast clouds,41.5388,-8.6151,Hotel Do Terço
4,52,Airai,TL,60.82,broken clouds,-8.9266,125.4092,Juvinal Martin

In [9]:
clean_hotel_df = vacation_df.dropna()
clean_hotel_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,11,Crotone,IT,68.90,broken clouds,39.0851,17.1178,Helios Hotel
1,14,Iglesias,IT,68.76,scattered clouds,39.3114,8.5350,"B&B Mare Monti Miniere - Sardinia sud-ovest, t..."
2,19,Jamestown,US,69.19,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,40,Barcelos,PT,66.29,overcast clouds,41.5388,-8.6151,Hotel Do Terço
4,52,Airai,TL,60.82,broken clouds,-8.9266,125.4092,Juvinal Martin
...,...,...,...,...,...,...,...,...
85,643,Yulara,AU,60.64,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
86,649,Kallithea,GR,65.50,clear sky,37.9500,23.7000,Athens Marriott Hotel
87,651,Sicuani,PE,60.85,overcast clouds,-14.2694,-71.2261,Wilkamayu Hotel
88,656,Lianran,CN,63.14,clear sky,24.9227,102.4850,半岛酒店
89,680,Namchi,IN,64.69,moderate rain,27.1667,88.3500,Sumnima Homestay

In [10]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [11]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Bonnyville"]
vacation_end = vacation_df.loc[vacation_df['City']  == "Alamosa"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Athabasca"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "La Ronge"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Eureka"]

In [30]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()
start

array([54.2668, -110.735], dtype=object)

In [31]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(35, -120), zoom_level = 5)
Bonnyville = start
Alamosa = end
Athabasca = stop1
La_Ronge = stop2
Eureka = stop3 
trip = gmaps.directions_layer(Bonnyville, Alamosa, waypoints=[Athabasca, La_Ronge, Eureka],travel_mode="DRIVING")

In [33]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end ],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,406,Bonnyville,CA,64.20,overcast clouds,54.2668,-110.7350,Best Western Bonnyville Inn & Suites
1,462,Athabasca,CA,63.01,overcast clouds,54.7169,-113.2854,Athabasca Lodge Motel
2,569,La Ronge,CA,61.05,broken clouds,55.1001,-105.2842,Northland Motor Hotel
3,510,Eureka,US,67.19,overcast clouds,40.8021,-124.1637,Eureka Inn Trademark By Wyndham
4,288,Alamosa,US,64.35,broken clouds,37.4695,-105.8700,Best Western Alamosa Inn

In [34]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [35]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(trip)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))